<h1>Coupon Form</h1>
<%= form_tag coupons_path%>
<label>Coupon Code<label>
<input type="text" id="coupon_coupon_code" name="coupon[coupon_code]">
<label>Coupon Code<label>
<input type="text" id="coupon_store" name="coupon[store]">
<%= submit_tag "Submit Coupon" %>
